.chat_group_area {
    width:100%;
    padding:1rem 0.5rem;
    border: solid 1px black;
    cursor:pointer;
}


.speech_bubble_area{
    display:flex;
}
.icon_area{
    width:3rem;
}
.chat_area{
    width:calc(100% - 3rem);
}

.icon_area img{
    width:100%;
    height:3rem;

    border-radius:50%;


}




.my_speech_bubble_area{
    text-align:right;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
.others_speech_bubble_area{
    text-align:left;
}
.my_speech_bubble_area .speech_bubble {
    /* 自分が送った時は右下の角をつける */
    background:lime;
    border-bottom-right-radius:0;
    margin-top: 0;
    margin-bottom: 0;
}
.others_speech_bubble_area .speech_bubble {
    /* 相手送った時は左上の角をつける */
    background:silver;
    border-top-left-radius:0;
    margin-top: 0;
    margin-bottom: 0;
}
.speech_bubble{
    text-align:left;
    word-break:break-all;

    display:inline-block;
    max-width:80%;
    padding:0.5rem;
    margin:0.5rem 0;
    border-radius:1rem;
}

.chat_speeker {
    color: #444;
    font-size: 0.8rem;
    margin-bottom: 0;
}
.chat_date {
    color: #444;
    font-size: 0.8rem;
    margin-top: 0;
}
