:root {
    --main-color: #288c66;
    --accent-color: #288c66;
    --tag-color: #666666;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.5rem;
    background-color: white;
    border-bottom: solid 0.2rem var(--main-color);
    box-shadow: 0 0.1rem rgba(0, 0, 0, 0.15);

    width: 100%;
    z-index: 10;

    position: fixed;
    top: 0;
    left: 0;
}

.top-page {
    font-size: 2rem;
    margin-left: 1rem;
    color: black;
    text-decoration: none;
}
.top-page:hover {
    color: black;
    text-decoration: none;
}

nav > a {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
nav > a:hover {
    color: black;
}

main {
    width: 95%;
    margin: 4rem auto 0 auto;
}
